body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: black;
    color: white;
    padding: 50px;
}

.btn {
    background: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

section {
    padding: 30px;
}
